@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');

:root{
  --background: #F6F5F1;
  --primary: #462C18;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s ease;
}

.yeseva {
  font-family: 'Yeseva One', serif;
}

.mont{
  font-family: 'Montserrat', sans-serif;
}

html{
  width: 100vw;
  height: 100dvh;
  overflow: hidden;

  body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar{
      display: none;
    }
    background-color: var(--background);
  }
}